// Created by David on 19.11.2015.

div.container
  div.col-md-6
    canvas#doughnut.chart.chart-doughnut(chart-data='data', chart-labels='labels')
  div.col-md-6
    canvas#doughnut.chart.chart-pie(chart-data='data', chart-labels='labels')

