// Created by David on 19.11.2015.

div
  h1 {{ questionText }}
div
  button.btn.btn-primary(ng-repeat='label in labels track by $index', ng-click='sendChoice($index)') {{ label }}
  button.btn.btn-warning(ng-click='reset()') {{ resetText }}
div
  canvas#doughnut.chart.chart-doughnut(chart-data='data', chart-labels='labels')


