extends layout

block content
  h1 {{title}}
  p Welcome to #{title}
  div(ng-controller='ChartController')
    div
      button(ng-click='sendChoice(0)') {{ labels[0] }}
      button(ng-click='sendChoice(1)') {{ labels[1] }}
      button(ng-click='sendChoice(2)') {{ labels[2] }}
    div
      canvas#doughnut.chart.chart-doughnut(chart-data='data', chart-labels='labels')
