
doctype html
html(ng-app='demoApp', ng-cloack, lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width', initial-scale='1')
    title= title
    block css
      link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
      //link(rel='stylesheet', href='/css/style.css')
      link(rel="stylesheet", href="/components/angular-chart.js/dist/angular-chart.css")
    block js
      script(src='/components/angular/angular.js')
      script(src='/components/Chart.js/Chart.js')
      script(src='/components/angular-chart.js/dist/angular-chart.js')
      script(src='/socket.io/socket.io.js')
      script(src='/components/angular-socket-io/socket.js')
      script(src='/components/angular-ui-router/release/angular-ui-router.js')
      script(src='/js/app/demo.js')
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body(ng-controller='TitleController')

    block content
